# Hoja de Trabajo \# 4

---


por Josué Obregón <br>
DS6011 - Feature Engineering <br>
UVG Masters - Escuela de Negocios<br>

## Objetivos

El objetivo de esta hoja de trabajo  es presentar al estudiante diferentes técnicas de codificación de variables categóricas. Éstas técnicas incluyen codificadores clásicos, de contraste y codificadores supervisados o bayesianos.

También se busca que el estudiante practique la utilización de éstas técnicas con las librerías disponibles en el lenguaje Python.

## Importación de librerías y carga de los datos a varios pandas [DataFrames](https://pandas.pydata.org/pandas-docs/version/1.1.5/reference/frame.html)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [10]:
!mkdir data

mkdir: cannot create directory ‘data’: File exists

In [11]:
import gdown

urls = ['https://drive.google.com/uc?export=download&id=16AGQw1nM9NYILv2aSZaSNSn9jBPByWPq', # okc_train  https://drive.google.com/file/d/16AGQw1nM9NYILv2aSZaSNSn9jBPByWPq/view?usp=sharing
        ]
outputs = ['okc_train.csv']
for url,output in zip(urls,outputs):
  gdown.download(url, f'data/{output}', quiet=False)

Downloading...
From: https://drive.google.com/uc?export=download&id=16AGQw1nM9NYILv2aSZaSNSn9jBPByWPq
To: /content/data/okc_train.csv
12.3MB [00:00, 136MB/s]

In [12]:
df = pd.read_csv('data/okc_train.csv',index_col=0)

In [13]:
df.head()

    age               diet      drinks  ... essay_length  Class  profile
1    22  strictly_anything    socially  ...     3.420945  other        1
4    23         vegetarian    socially  ...     2.671173  other        3
6    29    mostly_anything    socially  ...     3.391112   stem        5
8    31    mostly_anything    socially  ...     3.090611  other        6
10   37    mostly_anything  not_at_all  ...     3.382377  other        7

[5 rows x 38 columns]

In [14]:
df['drinks'].value_counts()

socially          27521
rarely             3981
often              3413
not_at_all         2157
drinks_missing     1208
very_often          319
desperately         210
Name: drinks, dtype: int64

In [15]:
df['status'].value_counts()

single            36014
seeing_someone     1354
available          1234
married             204
unknown               3
Name: status, dtype: int64

Pequeño dataset de prueba para algunas explicaciones y para las figuras en las diapositivas

In [16]:
df_test = pd.DataFrame({
... 'City': ['SF', 'SF', 'SF', 'NYC', 'NYC', 'NYC',
... 'Seattle', 'Seattle', 'Seattle'],
... 'Rent': [3999, 4000, 4001, 3499, 3500, 3501, 2499, 2500, 2501]
... })

In [17]:
df_test

      City  Rent
0       SF  3999
1       SF  4000
2       SF  4001
3      NYC  3499
4      NYC  3500
5      NYC  3501
6  Seattle  2499
7  Seattle  2500
8  Seattle  2501

Para esta hoja de trabajo vamos a utilizar la librería [category_encoders](http://contrib.scikit-learn.org/category_encoders/index.html), la cual es compatible con scikit-learn.

In [18]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 6.2MB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [19]:
col = 'drinks'

# Unsupervised Encoders

## Classic Encoders

### One-Hot Encoder

In [20]:
from category_encoders import OneHotEncoder

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [21]:
onehot_enc = OneHotEncoder(use_cat_names=True)

In [22]:
onehot_enc.fit_transform(df[[col]])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

       drinks_socially  ...  drinks_desperately
1                    1  ...                   0
4                    1  ...                   0
6                    1  ...                   0
8                    1  ...                   0
10                   0  ...                   0
...                ...  ...                 ...
59940                1  ...                   0
59943                0  ...                   0
59944                0  ...                   0
59945                1  ...                   0
59946                1  ...                   0

[38809 rows x 7 columns]

In [23]:
onehot_enc.mapping[0]['mapping']

    drinks_socially  drinks_not_at_all  ...  drinks_very_often  drinks_desperately
 1                1                  0  ...                  0                   0
 2                0                  1  ...                  0                   0
 3                0                  0  ...                  0                   0
 4                0                  0  ...                  0                   0
 5                0                  0  ...                  0                   0
 6                0                  0  ...                  1                   0
 7                0                  0  ...                  0                   1
-1                0                  0  ...                  0                   0
-2                0                  0  ...                  0                   0

[9 rows x 7 columns]

### Binary Encoder

In [24]:
from category_encoders import BinaryEncoder

In [25]:
binary_enc = BinaryEncoder()

In [26]:
binary_enc.fit_transform(df[[col]])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

       drinks_0  drinks_1  drinks_2  drinks_3
1             0         0         0         1
4             0         0         0         1
6             0         0         0         1
8             0         0         0         1
10            0         0         1         0
...         ...       ...       ...       ...
59940         0         0         0         1
59943         0         1         0         0
59944         0         0         1         0
59945         0         0         0         1
59946         0         0         0         1

[38809 rows x 4 columns]

In [27]:
binary_enc.base_n_encoder.mapping[0]['mapping']

    drinks_0  drinks_1  drinks_2  drinks_3
 1         0         0         0         1
 2         0         0         1         0
 3         0         0         1         1
 4         0         1         0         0
 5         0         1         0         1
 6         0         1         1         0
 7         0         1         1         1
-1         0         0         0         0
-2         0         0         0         0

### Frequency or Count Encoder

In [28]:
from category_encoders import CountEncoder

In [29]:
count_enc = CountEncoder(normalize=False)

In [30]:
df[col].value_counts()

socially          27521
rarely             3981
often              3413
not_at_all         2157
drinks_missing     1208
very_often          319
desperately         210
Name: drinks, dtype: int64

Intentemos utilizando las funciones de combinacion de grupos

In [31]:
count_enc = CountEncoder(combine_min_nan_groups=True, min_group_size=500, min_group_name='otros', normalize=True)

### Ordinal Encoder

In [32]:
from category_encoders import OrdinalEncoder

In [33]:
ord_enc = OrdinalEncoder()

In [34]:
ord_enc.fit_transform(df[col])

       drinks
1           1
4           1
6           1
8           1
10          2
...       ...
59940       1
59943       4
59944       2
59945       1
59946       1

[38809 rows x 1 columns]

In [35]:
ord_enc.category_mapping[0]['mapping']

socially          1
not_at_all        2
rarely            3
often             4
drinks_missing    5
very_often        6
desperately       7
NaN              -2
dtype: int64

In [36]:
drink_dict = {None:0, 'not_at_all': 1, 'reraly':2,
              'socially':3,'often':4,'very_often':5 ,
              'desperately':6, 'drinks_missing':-1}
col_drink_dict = {'col':'drinks','mapping':drink_dict}
ord_enc = OrdinalEncoder(mapping = [col_drink_dict])
ord_enc.fit_transform(df[col],)

       drinks
1         3.0
4         3.0
6         3.0
8         3.0
10        1.0
...       ...
59940     3.0
59943     4.0
59944     1.0
59945     3.0
59946     3.0

[38809 rows x 1 columns]

###Feature Hashing

In [37]:
from sklearn.feature_extraction import FeatureHasher

In [38]:
col = 'where_town'

In [39]:
df[col].describe()

count             38809
unique               51
top       san_francisco
freq              20028
Name: where_town, dtype: object

In [40]:
hash_enc = FeatureHasher(n_features=8, input_type='string')

In [41]:
hashed_features = hash_enc.fit_transform(df[col])

In [42]:
hashed_features.toarray()

array([[ 1., -1.,  2., ..., -2.,  0., -3.],
       [ 0.,  1.,  0., ..., -1.,  1.,  2.],
       [ 0., -1.,  2., ..., -1.,  0., -2.],
       ...,
       [ 1., -1.,  2., ..., -2.,  0., -3.],
       [ 0., -1.,  2., ..., -1.,  0., -2.],
       [ 0., -1.,  2., ..., -1.,  0., -2.]])

In [43]:
np_hashed = np.array(hashed_features.todense())

In [44]:
np.unique(np_hashed, axis=0)

array([[ 0., -2.,  2.,  1.,  0., -2., -1.,  0.],
       [ 0., -1.,  0.,  4.,  0., -1.,  1.,  1.],
       [ 0., -1.,  1.,  0., -1., -3.,  0.,  1.],
       [ 0., -1.,  1.,  1.,  1., -1.,  2.,  0.],
       [ 0., -1.,  2.,  3., -2., -1.,  0., -2.],
       [ 0.,  0.,  0.,  0.,  1., -1.,  0.,  1.],
       [ 0.,  0.,  0.,  1.,  0., -1., -1.,  1.],
       [ 0.,  0.,  0.,  2.,  0., -2.,  0.,  0.],
       [ 0.,  0.,  1., -1.,  0., -1.,  0.,  1.],
       [ 0.,  0.,  1.,  0., -1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  2.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  5., -1.,  1.,  1.],
       [ 0.,  0.,  1.,  3., -1.,  0.,  0.,  0.],
       [ 0.,  0.,  2., -1.,  1.,  0.,  1.,  2.],
       [ 0.,  0.,  2.,  0.,  0., -1.,  1.,  0.],
       [ 0.,  0.,  2.,  0.,  2., -2., -1.,  0.],
       [ 0.,  0.,  2.,  0.,  2.,  0.,  1.,  0.],
       [ 0.,  0.,  2.,  1.,  0., -1.,  1.,  0.],
       [ 0.,  0.,  2.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  2.,  2.,  0., -1., -1., -1.],
       [ 0.,  0.,  2.,  2.,  0.,  0.,  0., -2.],
       [ 0.,  0.,  2.,  2.,  0.,  0.,  0., -1.],
       [ 0.,  0.,  2.,  2.,  2.,  0., -1.,  0.],
       [ 0.,  0.,  2.,  5.,  1., -2.,  1.,  0.],
       [ 0.,  0.,  3.,  1.,  2.,  0.,  0.,  1.],
       [ 0.,  1.,  0., -1.,  3., -1.,  1.,  3.],
       [ 0.,  1.,  0.,  0.,  0., -1.,  0.,  1.],
       [ 0.,  1.,  0.,  0.,  1., -1.,  1.,  2.],
       [ 0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.],
       [ 0.,  1.,  0.,  1.,  1., -1.,  0.,  2.],
       [ 0.,  1.,  1.,  0.,  3., -2.,  0.,  1.],
       [ 0.,  1.,  1.,  1.,  0., -1.,  0.,  1.],
       [ 0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.],
       [ 0.,  1.,  1.,  2., -1., -1.,  0.,  0.],
       [ 0.,  1.,  1.,  2., -1.,  0.,  0., -1.],
       [ 0.,  1.,  1.,  2.,  1.,  0., -1.,  0.],
       [ 0.,  1.,  2.,  2.,  1.,  0.,  0.,  2.],
       [ 0.,  1.,  2.,  3., -1.,  0.,  0.,  0.],
       [ 0.,  1.,  2.,  3.,  0., -1.,  0.,  0.],
       [ 0.,  1.,  3.,  2.,  0.,  0.,  0.,  0.],
       [ 0.,  2.,  0.,  1., -1., -1.,  0.,  3.],
       [ 1., -1.,  1.,  0., -1., -2.,  0.,  1.],
       [ 1., -1.,  1.,  0.,  0.,  0.,  0.,  1.],
       [ 1., -1.,  2.,  4., -2., -2.,  0., -3.],
       [ 1.,  0.,  0.,  0.,  1., -1.,  0.,  1.],
       [ 1.,  0.,  2.,  0.,  1., -1.,  0., -2.],
       [ 1.,  1.,  0.,  0.,  1., -2.,  0.,  1.],
       [ 1.,  1.,  1.,  2., -2., -1.,  0., -1.],
       [ 1.,  2.,  0.,  1.,  0., -3.,  0.,  4.],
       [ 1.,  2.,  1.,  0.,  1.,  0., -1., -2.]])

In [45]:
np.unique(np_hashed,axis=0).shape

(50, 8)

In [46]:
from sys import getsizeof

In [47]:
print('Our pandas Series, in bytes: ', getsizeof(df[col]))
print('Our hashed numpy array, in bytes: ', getsizeof(hashed_features))

Our pandas Series, in bytes:  2944494
Our hashed numpy array, in bytes:  64

## Contrast Encoders

### Diferencia entre One-hot Encoding y Dummy Coding

Con la codificación one-hot, el término de intersección (intercepto) representa la media global de la variable objetivo: 'Renta', y cada uno de los coeficientes lineales representa que tanto difiere la renta media de esa ciudad respecto a la media global.

Ahora entrenemos el mismo modelo con dummy coding

Con codificación dummy, el coeficiente de sesgo (intercepto) representa el valor medio de la variable $y$ para la categoría de referencia, que en el ejemplo es la ciudad NYC. El coeficiente para la *i*-ésima característica es igual a la diferencia entre el valor medio de la respuesta para la i-ésima categoría y la media de la categoría de referencia.

### Dummy Coding

In [48]:
col = 'drinks'

In [49]:
from sklearn.preprocessing import OneHotEncoder as OneHotEncoder_sk

In [50]:
dummy_enc = OneHotEncoder_sk(drop='first',sparse=False)

In [51]:
dummy_enc.fit_transform(df[[col]])

array([[0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [52]:
dummy_enc.categories_

[array(['desperately', 'drinks_missing', 'not_at_all', 'often', 'rarely',
        'socially', 'very_often'], dtype=object)]

In [54]:
dummy_df2 = pd.get_dummies(df[col], prefix='dr', drop_first=True)
dummy_df2.head()

    dr_drinks_missing  dr_not_at_all  ...  dr_socially  dr_very_often
1                   0              0  ...            1              0
4                   0              0  ...            1              0
6                   0              0  ...            1              0
8                   0              0  ...            1              0
10                  0              1  ...            0              0

[5 rows x 6 columns]

In [55]:
dummy_df2.drop_duplicates()

     dr_drinks_missing  dr_not_at_all  ...  dr_socially  dr_very_often
1                    0              0  ...            1              0
10                   0              1  ...            0              0
19                   0              0  ...            0              0
41                   0              0  ...            0              0
93                   1              0  ...            0              0
97                   0              0  ...            0              1
549                  0              0  ...            0              0

[7 rows x 6 columns]


### Sum (or Deviation) Coding

In [57]:
from category_encoders import SumEncoder

In [58]:
sum_enc = SumEncoder()

In [59]:
sum_enc.mapping[0]['mapping']

TypeError: ignored

Utilizando el ejemplo de prueba

In [51]:
sum_enc = SumEncoder()
sum_df = sum_enc.fit_transform(df_test['City'])

In [51]:
sum_df

In [51]:
model = linear_model.LienarRegression()
model.fit(sum_df[['City_0','C']])

La codificación de efectos (sum coding) es muy similar a la codificación dummy, pero da como resultado modelos de regresión lineal que son aún más simples de interpretar.

En el ejemplo, vemos que el término de intersección representa la media global del la variable respuesta, y los coeficientes individuales indican cuánto las medias de las categorías individuales difieren de la media global. (Esto se llama el efecto principal de la categoría o nivel, de ahí el nombre "codificación de efectos").

La codificación One-hot, encontró la misma intersección y coeficientes, pero en ese caso hay coeficientes lineales para cada ciudad. En la codificación de efecto, ningun feature representa la categoría de referencia, ***por lo que el efecto de la categoría de referencia debe calcularse por separado como la suma negativa de los coeficientes de todas las demás categorías.***

In [60]:
print(f'Coefficients: {model.coef_}')
print(f'Intercept: {model.intercept_}')
print(f'Negative sum of coaefficients:{np.sum(model.coef_*-1)}')

NameError: ignored

In [51]:
print('Global mean: ', df_test['Rent'].mean())
print(df_test.groupby('City').mean())

Restulados de la regresión lineal con One-hot encoding

Coefficients: $[ 166.66666667,   666.66666667,  -833.33333333]$

Intercept: $3333.3333333333335$

### Backward Difference Coding

In [61]:
from category_encoders import BackwardDifferenceEncoder

In [63]:
back_diff_enc = BackwardDifferenceEncoder()

In [64]:
back_diff_enc.fit_transform(df[[col]])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

       intercept  drinks_0  drinks_1  drinks_2  drinks_3  drinks_4  drinks_5
1              1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
4              1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
6              1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
8              1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
10             1  0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
...          ...       ...       ...       ...       ...       ...       ...
59940          1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
59943          1  0.142857  0.285714  0.428571 -0.428571 -0.285714 -0.142857
59944          1  0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
59945          1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
59946          1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857

[38809 rows x 7 columns]

In [65]:
back_diff_enc.mapping[0]['mapping']

    drinks_0  drinks_1  drinks_2  drinks_3  drinks_4  drinks_5
 1 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
 2  0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
 3  0.142857  0.285714 -0.571429 -0.428571 -0.285714 -0.142857
 4  0.142857  0.285714  0.428571 -0.428571 -0.285714 -0.142857
 5  0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
 6  0.142857  0.285714  0.428571  0.571429  0.714286 -0.142857
 7  0.142857  0.285714  0.428571  0.571429  0.714286  0.857143
-1  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
-2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

Utilizando el ejemplo de prueba

In [66]:
back_diff_enc = BackwardDifferenceEncoder()
back_diff_df = back_diff_enc.fit_transform(df_test['City'])
back_diff_df['Rent'] = df_test['Rent']
back_diff_df

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

   intercept    City_0    City_1  Rent
0          1 -0.666667 -0.333333  3999
1          1 -0.666667 -0.333333  4000
2          1 -0.666667 -0.333333  4001
3          1  0.333333 -0.333333  3499
4          1  0.333333 -0.333333  3500
5          1  0.333333 -0.333333  3501
6          1  0.333333  0.666667  2499
7          1  0.333333  0.666667  2500
8          1  0.333333  0.666667  2501

In [67]:
back_diff_enc.mapping[0]['mapping']

      City_0    City_1
 1 -0.666667 -0.333333
 2  0.333333 -0.333333
 3  0.333333  0.666667
-1  0.000000  0.000000
-2  0.000000  0.000000

In [70]:
back_diff_enc.ordinal_encoder.category_mapping[0]['mapping']

SF         1
NYC        2
Seattle    3
NaN       -2
dtype: int64

In [71]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(back_diff_df[['City_0','City_1']], back_diff_df['Rent'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

La codificación de diferencia en reversa es útil para codificar variables ordinales.

En el ejemplo, vemos que el término de intersección representa la media global de la variable respuesta, y los coeficientes individuales indican cuánto las medias de las categorías individuales difieren de la media de la categoría inmediatamente anterior.

In [73]:
print(f'Coefficients: {model.coef_}')
print(f'Intercept: {model.intercept_}')

Coefficients: [ -500. -1000.]
Intercept: 3333.3333333333335

In [72]:
print('Global mean: ',df_test['Rent'].mean())
print(df_test.groupby('City').mean())

Global mean:  3333.3333333333335
         Rent
City
NYC      3500
SF       4000
Seattle  2500

### Helmert Coding

In [74]:
from category_encoders import HelmertEncoder

In [77]:
helm_enc = HelmertEncoder()

In [78]:
helm_enc.fit_transform(df[[col]])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

       intercept  drinks_0  drinks_1  drinks_2  drinks_3  drinks_4  drinks_5
1              1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
4              1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
6              1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
8              1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
10             1       1.0      -1.0      -1.0      -1.0      -1.0      -1.0
...          ...       ...       ...       ...       ...       ...       ...
59940          1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
59943          1       0.0       0.0       3.0      -1.0      -1.0      -1.0
59944          1       1.0      -1.0      -1.0      -1.0      -1.0      -1.0
59945          1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
59946          1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0

[38809 rows x 7 columns]

In [79]:
helm_enc.mapping[0]['mapping']

    drinks_0  drinks_1  drinks_2  drinks_3  drinks_4  drinks_5
 1      -1.0      -1.0      -1.0      -1.0      -1.0      -1.0
 2       1.0      -1.0      -1.0      -1.0      -1.0      -1.0
 3       0.0       2.0      -1.0      -1.0      -1.0      -1.0
 4       0.0       0.0       3.0      -1.0      -1.0      -1.0
 5       0.0       0.0       0.0       4.0      -1.0      -1.0
 6       0.0       0.0       0.0       0.0       5.0      -1.0
 7       0.0       0.0       0.0       0.0       0.0       6.0
-1       0.0       0.0       0.0       0.0       0.0       0.0
-2       0.0       0.0       0.0       0.0       0.0       0.0

Utilizando el ejemplo de prueba

In [80]:
helm_enc = HelmertEncoder()
helm_df = helm_enc.fit_transform(df_test['City'])
helm_df['Rent']=df_test['Rent']
helm_df

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

   intercept  City_0  City_1  Rent
0          1    -1.0    -1.0  3999
1          1    -1.0    -1.0  4000
2          1    -1.0    -1.0  4001
3          1     1.0    -1.0  3499
4          1     1.0    -1.0  3500
5          1     1.0    -1.0  3501
6          1     0.0     2.0  2499
7          1     0.0     2.0  2500
8          1     0.0     2.0  2501

In [81]:
helm_enc.mapping[0]['mapping']

    City_0  City_1
 1    -1.0    -1.0
 2     1.0    -1.0
 3     0.0     2.0
-1     0.0     0.0
-2     0.0     0.0

In [82]:
model = linear_model.LinearRegression()
model.fit(helm_df[['City_0','City_1']],helm_df['Rent'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [83]:
print(f'Coefficients: {model.coef_}')
print(f'Intercept: {model.intercept_}')

Coefficients: [-250.         -416.66666667]
Intercept: 3333.3333333333335

In [51]:
print('Global mean: ', df_test['Rent'].mean())
print(df_test.groupby('City').mean())

In [84]:
df_test[df_test['City']!='NYC']['Rent'].mean()

3250.0

#Supervised Encoders

In [85]:
col_cat = 'drinks'
col_num = 'essay_length'

In [86]:
from sklearn.preprocessing import LabelEncoder

In [87]:
label_enc = LabelEncoder()
df['Class_enc'] = label_enc.fit_transform(df['Class'])

In [88]:
df.head()

    age               diet      drinks  ...  Class profile  Class_enc
1    22  strictly_anything    socially  ...  other       1          0
4    23         vegetarian    socially  ...  other       3          0
6    29    mostly_anything    socially  ...   stem       5          1
8    31    mostly_anything    socially  ...  other       6          0
10   37    mostly_anything  not_at_all  ...  other       7          0

[5 rows x 39 columns]

## Target Encoder

In [89]:
from category_encoders import TargetEncoder

In [90]:
target_enc = TargetEncoder()
target_enc.fit_transform(df[col_cat],df['Class_enc'])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

         drinks
1      0.189201
4      0.189201
6      0.189201
8      0.189201
10     0.147891
...         ...
59940  0.189201
59943  0.195429
59944  0.147891
59945  0.189201
59946  0.189201

[38809 rows x 1 columns]

In [91]:
target_enc.mapping

{'drinks': drinks
  1    0.189201
  2    0.147891
  3    0.170058
  4    0.195429
  5    0.179636
  6    0.137931
  7    0.171429
 -1    0.184674
 -2    0.184674
 dtype: float64}

In [92]:
target_enc = TargetEncoder()
target_enc.fit_transform(df[col_cat],df[col_num])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

         drinks
1      3.136058
4      3.136058
6      3.136058
8      3.136058
10     3.145403
...         ...
59940  3.136058
59943  3.138155
59944  3.145403
59945  3.136058
59946  3.136058

[38809 rows x 1 columns]

In [93]:
target_enc.mapping

{'drinks': drinks
  1    3.136058
  2    3.145403
  3    3.164222
  4    3.138155
  5    2.963267
  6    2.915820
  7    3.072538
 -1    3.132119
 -2    3.132119
 dtype: float64}

## Leave-one-out Encoder

In [95]:
from category_encoders import LeaveOneOutEncoder

In [96]:
lou_enc = LeaveOneOutEncoder(sigma=0.05)
lou_enc.fit_transform(df[col_cat],df['Class_enc'])

         drinks
1      0.194842
4      0.182455
6      0.194632
8      0.187972
10     0.141390
...         ...
59940  0.186762
59943  0.205560
59944  0.155299
59945  0.170656
59946  0.190273

[38809 rows x 1 columns]

In [97]:
lou_enc.mapping

{'drinks':                    sum  count
 desperately       36.0    210
 drinks_missing   217.0   1208
 not_at_all       319.0   2157
 often            667.0   3413
 rarely           677.0   3981
 socially        5207.0  27521
 very_often        44.0    319}

In [98]:
lou_enc = LeaveOneOutEncoder(sigma=0.05)
lou_enc.fit_transform(df[col_cat],df['essay_length'])

         drinks
1      3.362083
4      3.361772
6      3.252471
8      2.982701
10     3.344125
...         ...
59940  3.123251
59943  3.119482
59944  3.091538
59945  3.327391
59946  2.985308

[38809 rows x 1 columns]

In [99]:
lou_enc.mapping

{'drinks':                          sum  count
 desperately       645.232955    210
 drinks_missing   3579.626046   1208
 not_at_all       6784.635061   2157
 often           10710.522351   3413
 rarely          12596.767259   3981
 socially        86307.461805  27521
 very_often        930.146539    319}

## M-estimate Encoder

In [100]:
from category_encoders import MEstimateEncoder

In [102]:
mest_enc = MEstimateEncoder(m=10)
mest_enc.fit_transform(df[col_cat],df['Class_enc'])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

         drinks
1      0.189199
4      0.189199
6      0.189199
8      0.189199
10     0.148060
...         ...
59940  0.189199
59943  0.195398
59944  0.148060
59945  0.189199
59946  0.189199

[38809 rows x 1 columns]

In [103]:
mest_enc.mapping

{'drinks': drinks
  1    0.189199
  2    0.148060
  3    0.170094
  4    0.195398
  5    0.179677
  6    0.139352
  7    0.172031
 -1    0.184674
 -2    0.184674
 dtype: float64}

## Weight of Evidence Encoder